backend/R Scripts/results/
backend/R Scripts/packages/
backend/R Scripts/data/
backend/.venv/
venv
backend/__pycache__/

*.Rd
*.pdf
*.xlsx

.DS_Store
backend/R Scripts/results.zip

.RData
.Rhistory

PCA-analysis/filtered_beta_outputs/
PCA-analysis/filtered_beta_outputs.zip
PCA-analysis/info/
*.zip
