/* Apply Helvetica font globally */
* {
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.head {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    border: 2px solid #16404D;
    border-radius: 10px;
    background-color: #F0F8FF;
    width: fit-content;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    border: 2px solid #A6CDC6;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    position: relative;
    text-align: left;
}

.content-box-title {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #FFFFFF;
    padding: 0 10px;
    font-size: 18px;
    color: #16404D;
    font-weight: bold;
    border: 1px solid #A6CDC6;
    border-radius: 5px;
}

.content-box input, .content-box button {
    font-size: 16px;
}

.description-box {
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #A6CDC6;
    border-radius: 10px;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: left;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}

.description-box-title {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #FFFFFF;
    padding: 0 10px;
    font-size: 18px;
    color: #16404D;
    font-weight: bold;
    border: 1px solid #A6CDC6;
    border-radius: 5px;
}

.directions-box {
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #A6CDC6;
    border-radius: 10px;
    background-color: #F9F9F9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
    text-align: left;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
}

.directions-box ol li {
    margin-bottom: 15px;
}

.directions-box-title {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #FFFFFF;
    padding: 0 10px;
    font-size: 18px;
    color: #16404D;
    font-weight: bold;
    border: 1px solid #A6CDC6;
    border-radius: 5px;
}

.directions-box img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.msg {
    font-size: 20px;
    margin-left: 20px;
}

.downloadButton {
    margin-top: 30px;
    padding: 10px;
    height: 50px;
    width: 100px;
    background-color: #A6CDC6;
    border-color: #16404D;
    color: #16404D;
    border-radius: 8px;
    cursor: pointer;
}

.uploadButton {
    padding: 10px;
    height: 50px;
    width: 100px;
    background-color: #A6CDC6;
    border-color: #16404D;
    color: #16404D;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.uploadButton:active {
    background-color: #D3D3D3;
    color: #888888;
}
